vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 May 2012 16:58:44 -0000
vti_extenderversion:SR|4.0.2.8912
vti_sourcecontrolversion:SX|V1
vti_sourcecontrolcookie:SX|fp_internal
vti_cacheddtm:TX|20 May 2012 16:58:44 -0000
vti_filesize:IR|5325
vti_cachedlinkinfo:VX|S|../images/body-bg.jpg S|../images/bg-menu-bawah.png S|../images/bg-menu-atas.png S|../images/bullet.png
vti_cachedsvcrellinks:VX|FSUS|KSU/application/views/admin/images/body-bg.jpg FSUS|KSU/application/views/admin/images/bg-menu-bawah.png FSUS|KSU/application/views/admin/images/bg-menu-atas.png FSUS|KSU/application/views/admin/images/bullet.png
vti_backlinkinfo:VX|
