vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 May 2012 04:40:22 -0000
vti_extenderversion:SR|4.0.2.8912
vti_sourcecontrolversion:SX|V1
vti_sourcecontrolcookie:SX|fp_internal
vti_cacheddtm:TX|27 May 2012 04:40:22 -0000
vti_filesize:IR|4778
vti_cachedlinkinfo:VX|S|../images/tab.png S|../images/tab2.png S|../images/tab2.png S|../images/logo_5.png S|../images/Background2.jpg
vti_cachedsvcrellinks:VX|FSUS|KSU/application/views/admin/images/tab.png FSUS|KSU/application/views/admin/images/tab2.png FSUS|KSU/application/views/admin/images/tab2.png NSUS|KSU/application/views/admin/images/logo_5.png NSUS|KSU/application/views/admin/images/Background2.jpg
vti_backlinkinfo:VX|
